# deps
node_modules/
**/node_modules/

# generated content & build
.source/
/.next/
/out/
/build/
dist/
**/dist/
/coverage/
*.tsbuildinfo

# environment variables & secrets
.env
.env.*
**/.env
**/.env.*
!**/.env.example
*.pem
*.key
*.cert

# debug logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# system & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# others
/.pnp
.pnp.js
.vercel
next-env.d.ts